h1{
  font-family: Arial;
  font-size: 250%;
  background-color: rgb(62, 90, 180);
  color: rgb(35, 192, 48);
  text-align: center;
}
table{
  width: 100%;
}
th{
  border: 2px solid brown;
  text-align: center;
  padding: 8px;
  text-decoration: underline;
  border-radius: 4px;
  font-size: 25px;
}
td{
  border: 2px solid brown;
  text-align: center;
  padding: 8px;
  /* text-decoration: underline; */
  font-size: 25px;
}